.graph {
  padding-top: 35px;
}

.graph-options {
  padding: 10px;
}

.graph-options>div {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: top;
}

.graph-options>div .form-control {
  height: calc(1.8rem + 2px);
  padding: 0rem 0.75rem;
  font-size: 1rem;
  line-height: 1;
}

.analyzePage .graphPageChartContainer {
  margin-top: 40px;
  flex: 1;
  background-color: #222;
  padding: 40px 30px;
}

.analyzePage .formContainer {}

.analyzePage .chart {
  height: 100%;
}