.login-box {
  margin-top: 2.5rem;

  .welcome-title {
    margin-bottom: 1rem;
    text-align: center;
  }
}

.button-submit {
  width: 100%;
}

.forgot-title {
  text-align: center;
}
.submit2 {
  margin-bottom: 1rem;

  button {
    width: 100%;
  }
}