.ingredient-list
{
  /*background-color: #cccccc;*/
//   background-color: red;
  padding: 1rem;
  //height: calc( 100vh - 650px );
  height: 200px;
  margin-bottom: 10px;
  overflow-y: auto !important;
}

.ingredient-item {
  margin-bottom: 1rem;
  cursor: pointer;
  
  .wrapper {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding: 1rem;
    background-color: #ffffff;

    .desc {
      float: left;
      white-space: pre;
    }
    i {
      float: right;
    }
  }
}

.ops-section {
  padding: 1rem 0rem;

  .btn {
    width: 100%;
    white-space: normal;
    word-wrap: break-word;
  }
}
.title{
  font-weight: bold;
}
//html, body{
//  height: 100%;
//}
//#root{
//  height: 100%;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//}

.border-col
{
   font-size: 20px !important;
}

.border-col > div > div
{
  border: 1px solid #ced4da;
  line-height: 16px;
  padding: 0px 12px;
  height: 36px;
  border-radius: 5px;
}

.border-col > div > div > div:first-child
{
   color:rgba(0,0,0,1) !important;
}

.border-col > div > div > div:last-child{
  bottom: -12px !important;
  left: -12px !important;
}